[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
future = "*"
six = "*"
pillow = "*"
dlib = "*"
scikit-learn = "*"
tensorflow = "*"
opencv-python = "*"
scipy = "*"
flask = "*"
"psycopg2-binary" = "*"

[dev-packages]

[requires]
python_version = "3.6"
